

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffe600;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 5rem;
  color: #ffffff;
}

.content {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 20px;
}

.exploreButton {
  background-color: #018a2a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.exploreButton:hover {
  background-color: #00c99d;
}
.center-text {
  text-align: center;
}

.submit {

  width: 100%;
}

.appbar {
  background-color: #018a2a;
  color: #fff;
  position: static;
}

.register {
  text-align: center;
}

.h1 {
  font-size: 2.5rem;
  color: #ffffff;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-style: normal;
}

.nav {
  color: #fff;
  text-decoration: none;
}

.nav-link-container:hover {
  background-color: #005f1d;
}